<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duy.pascal.frontend">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.duy.pascal.DApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.EditorActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.ActivitySplashScreen"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
            android:label="@string/app_name">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.pas" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ExecuteActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
            android:icon="@drawable/ic_code_white_24dp"
            android:windowSoftInputMode="stateVisible|stateAlwaysVisible" />
        <activity
            android:name=".activities.DocumentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
            android:icon="@drawable/ic_info_white_24dp" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
            android:icon="@drawable/ic_info_white_24dp" />
        <activity
            android:name=".activities.CodeSampleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
            android:icon="@drawable/ic_code_white_24dp"
            android:label="@string/title_activity_code_sample" />
        <activity
            android:name=".activities.SelectThemeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
            android:launchMode="singleTask" />
        <activity
            android:name=".file.SelectFileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
            android:launchMode="singleTask" />

    </application>

</manifest>