<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duy.pascal.frontend">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- aLocation library -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark.NoActionBar">
        <activity
            android:name=".activities.ActivitySplashScreen"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <!-- Filter open file *.pas -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.pas"
                    android:scheme="file" />
            </intent-filter>

            <!-- Filter open file *.PAS -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.PAS"
                    android:scheme="file" />
            </intent-filter>

            <!-- Clip board filter -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".editor.EditorActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.ExecuteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".code_sample.activities.DocumentActivity" />
        <activity android:name=".code_sample.activities.CodeSampleActivity" />
        <activity android:name=".theme.fragment.ThemeFontActivity" />
        <activity android:name=".info.InfoActivity" />
        <activity
            android:name=".setting.SettingsActivity"
            android:label="@string/setting" />
        <activity
            android:name=".debug.activities.DebugActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.duy.pascal.backend.builtin_libraries.android.activity.PascalActivity" />
        <activity android:name=".code_sample.activities.SearchResultSampleActivity" />

        <!-- Scan bar code activity -->
        <activity
            android:name="com.duy.pascal.backend.builtin_libraries.android.barcode.ZxingActivity"
            android:label="@string/title_activity_zxing" />
        <activity
            android:name="com.duy.pascal.backend.builtin_libraries.android.barcode.ScannerActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- Notification service -->
        <service android:name=".notify.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notify.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/dark.color_accent" />
        <!-- END SETUP NOTIFICATION -->

        <activity android:name=".code_sample.activities.OnlineExampleActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>